.settings_bg {
  min-height: 100vh;
  background-color: var(--clr-primary);
  font-family: var(--font-primary);
  /* To prevent margin collapse*/
  padding: 1rem;
}

.settings_main {
  width: 100%;
  padding: 0 0 0 calc(8% + 1rem);
  min-height: calc(100vh - 2rem);
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.settings_heading {
  font-size: 3rem;
}

.settings_options {
  padding: 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settings-switch_div {
  display: flex;
  width: 50%;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
}

.settings-switch_text_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-size: 1.2rem;
}

.settings-switch_text {
  text-transform: uppercase;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .settings_main {
    padding: 1rem 0 0 0;
  }
}

@media only screen and (max-width: 992px) {
  .settings_bg {
    padding: 2rem;
  }

  .settings-switch_div {
    width: 100%;
  }

  .settings_heading {
    font-size: 2.5rem;
  }

  .settings-switch_text_div {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .settings_bg {
    padding: 2rem;
  }

  .settings_heading {
    font-size: 2rem;
  }

  .settings-switch_text_div {
    font-size: 1rem;
    width: 75%;
  }
}

@media only screen and (max-width: 576px) {
  .settings_bg {
    padding: 1rem;
  }

  .settings_options {
    padding: 0 .5rem 0;
  }
}