.weather_bg {
  min-height: 100vh;
  background-color: var(--clr-primary);
  font-family: var(--font-primary);
  /* To prevent margin collapse*/
  overflow: auto;
}

.weather_center {
  width: 70%;
  padding: 1rem 1rem 1rem calc(8% + 2rem);
  height: 100vh;
  overflow: hidden scroll;
}

.weather_search {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}

#weather_search_field,
.weather_search_btn {
  border-radius: var(--b-rad-weather);
  padding: .7rem 2rem;
  transition: .3s background-color;
}

#weather_search_field {
  background: var(--clr-secondary);
  border: none;
  width: 100%;
  color: var(--text-p-high);
}

.weather_search_btn {
  border: 2px solid var(--clr-accent);
  color: var(--text-p-high);
  font-weight: 500;
  background-color: var(--clr-secondary);
}

#weather_search_field:hover,
#weather_search_field:focus {
  background-color: var(--clr-secondary-hover);
}

#weather_search_field::placeholder {
  color: var(--text-p-low);
}

.weather_search_btn:hover,
.weather_search_btn:focus {
  background-color: var(--clr-accent);
}

.weather_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 0;
}

.weather_main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .5rem;
}

.weather_main-city {
  font-size: 2.2rem;
}

.weather_main-region_country {
  font-size: 1.2rem;
  font-weight: 400;
}

.weather_main-temp {
  font-size: 3rem;
}

.weather_main-icon {
  width: 100%;
}

.weather_main-time {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  .weather_center {
    width: 65%;
  }
}

@media only screen and (max-width: 1200px) {
  .weather_center {
    padding: 1rem;
    width: 60%;
  }
}

@media only screen and (max-width: 992px) {
  .weather_center {
    width: 100%;
    padding: 2rem;
    height: unset;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .weather_main-city {
    font-size: 1.8rem;
  }

  .weather_main-region_country {
    font-size: 1rem;
  }

  .weather_main-temp {
    font-size: 2rem;
  }

  .weather_main-condition {
    font-size: 0.9rem;
  }

  .weather_main-time {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .weather_center {
    padding: 1rem;
  }

  .weather_main {
    padding: 1rem 2rem 0;
  }

  .weather_search {
    flex-direction: column;
    font-size: 1rem;
  }

  .weather_main-city {
    font-size: 1.5rem;
  }

  .weather_main-region_country {
    font-size: .9rem;
  }

  .weather_main-temp {
    font-size: 1.8rem;
  }

  .weather_main-time {
    font-size: 1rem;
  }

  .weather_main-date_day {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 476px) {
  .weather_main {
    padding: 1rem 0 0;
  }

}